@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --Red: rgb(234, 83, 83);
  --Cyan: rgb(69, 211, 211);
  --yellow: rgb(252, 175, 74);
  --Blue: rgb(84, 158, 242);
  --Very-Dark-Blue: rgb(76, 78, 97);
  --Grayish-Blue: rgb(163, 165, 174);
  --primary-color: rgb(250, 250, 250);
}

/* Top-Content-CSS */

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-width: 600px;
}
.top-center-content {
  width: 100%;
  /* margin-top: 1em; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-center-content .para-one {
  font-size: 25px;
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.top-center-content strong {
  margin-bottom: 0.5em;
  font-size: 25px;
  color: var(--Very-Dark-Blue);
}
.top-center-content p {
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10px;
  font-weight: 450;
  color: var(--Grayish-Blue);
}

/* Four-Card CSS */

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.four-card-container {
  width: 70%;
  margin-top: 3em;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.center-card {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1em;
}
.four-cards {
  padding: 1em;
  display: flex;
  align-items: flex-start;
}
.main-card-img {
  width: 100%;
  padding-top: 1.9em;
  display: flex;
  justify-content: flex-end;
}
.card-img {
  width: 35px;
}
.four-cards p {
  margin: 0;
  padding: 0.5em;
  font-size: 12px;
  font-weight: 400;
  color: var(--Grayish-Blue);
}
.four-cards h4 {
  margin: 0;
  padding: 0.5em;
  font-size: 15px;
  font-weight: 550;
  color: var(--Very-Dark-Blue);
}
.supervisor {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  border-top: 2px solid var(--Cyan);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.team-Building {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  border-top: 2px solid var(--Red);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.calculator {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  border-top: 2px solid var(--Blue);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.karma {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  border-top: 2px solid var(--yellow);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Media Query CSS Phone */

@media (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    /* background-color: red;
    border: 1px solid black; */
  }
  .container{
    width: 100%;
    min-width: 425px;
  }
  .top-center-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-center-content .para-one {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: var(--Grayish-Blue);
  }
  .top-center-content strong {
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: var(--Very-Dark-Blue);
  }
  .top-center-content p {
    width: 70%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    color: var(--Grayish-Blue);
  }

  /* Media Query CSS Four-cards-Phone-view*/

  .hero-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* background-color: blueviolet; */
  }
  .four-card-container {
    width: 90%;
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }
  .center-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  .main-card-img {
    width: 100%;
    padding-top: 2.5em;
    display: flex;
    justify-content: flex-end;
  }
  .card-img {
    width: 10%;
  }
  .four-cards h4 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 550;
    color: var(--Very-Dark-Blue);
  }
  .four-cards p {
    margin-top: 0.5em;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
    color: var(--Grayish-Blue);
  }
  .supervisor {
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Cyan);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .team-Building {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Red);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .calculator {
    width: 65%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Blue);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .karma {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--yellow);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}





/* Media Query CSS Tablet */

@media (min-width: 481px) and (max-width: 900px) {
  
  /* Media Query CSS Top-para-content */

  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    /* background-color: yellow;
    border: 1px solid black; */
  }
  .container{
    width: 100%;
    min-width: 768px;
  }
  .top-center-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .top-center-content .para-one {
    width: 60%;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: var(--Grayish-Blue);
  }
  .top-center-content strong {
    margin-bottom: 0.5em;
    text-align: center;
    width: 60%;
    font-size: 25px;
    color: var(--Very-Dark-Blue);
  }
  .top-center-content p {
    width: 55%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: var(--Grayish-Blue);
  }
    /* Four-cards-Media-Query */

  .hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: aqua; */
  }
  .four-card-container {
    width: 70%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .center-card {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
  .four-cards {
    /* padding: 1em; */
    display: flex;
    align-items: flex-start;
  }
  .main-card-img {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
  }
  .card-img {
    width: 15%;
  }
  .four-cards h4 {
    margin: 0;
    padding: 4px;
    font-size: 15px;
    font-weight: 550;
    color: var(--Very-Dark-Blue);
  }
  .four-cards p {
    margin: 0;
    padding: 0.5em;
    font-size: 8px;
    font-weight: 400;
    color: var(--Grayish-Blue);
  }
  .supervisor {
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Cyan);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .team-Building {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Red);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .calculator {
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--Blue);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .karma {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* padding: 1.5em; */
    border-radius: 0.5em;
    background-color: var(--primary-color);
    border-top: 2px solid var(--yellow);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}